initialize() {
	
	if (exists("slimgui")) {
		defineConstant("results_path_base", "~/Desktop/");
		defineConstant("fit_sd", 1);
	}
	
	defineConstant("u", 10^(-5)); //mutation rate
	defineConstant("optimum", 0); //shared fitness optimum
	
	defineConstant("female_sd", fit_sd); //sd of female fitness function
	defineConstant("male_sd", fit_sd); //sd of female fitness function
	
	defineConstant("N", 10000); //population size
	
	defineConstant("L", 1000); //genome length
	defineConstant("length_chrom", 100);
	
	
	defineConstant("shutdown_point", 99); 
	// defines the region of recombination shutdown between the X and Y in males
	// in this case, the shutdown point 99 induces a recombination shutdown 
	// across the entire Y chromosome 
	
	initializeMutationRate(u);
	
	//sets up different mutation types by chromosome
	//all mutations are 'stacked' by default
	initializeMutationType("m1", 1.0, "f", 0.0); //future sex chromosomes 
	initializeMutationType("m2", 0.5, "f", 0.0); //autosome 2 mutations
	initializeMutationType("m3", 0.5, "f", 0.0); //autosome 3 mutations
	initializeMutationType("m4", 0.5, "f", 0.0);
	initializeMutationType("m5", 0.5, "f", 0.0);
	initializeMutationType("m6", 0.5, "f", 0.0);
	initializeMutationType("m7", 0.5, "f", 0.0);
	initializeMutationType("m8", 0.5, "f", 0.0);
	initializeMutationType("m9", 0.5, "f", 0.0);
	initializeMutationType("m10", 0.5, "f", 0.0); //autosome 10 mutations
	
	initializeMutationType("m11", 0.5, "f", 0.0); //male-determining mutation
	
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;
	m5.convertToSubstitution = F;
	m6.convertToSubstitution = F;
	m7.convertToSubstitution = F;
	m8.convertToSubstitution = F;
	m9.convertToSubstitution = F;
	m10.convertToSubstitution = F;
	
	m11.convertToSubstitution = F; 

	//future sex chromosomes
	initializeGenomicElementType("g1", m1, 1.0); 
	initializeGenomicElement(g1, 0, (length_chrom-1));
	//the nine autosomes
	initializeGenomicElementType("g2", m2, 1.0);
	initializeGenomicElement(g2, length_chrom, (length_chrom*2-1));
	initializeGenomicElementType("g3", m3, 1.0);
	initializeGenomicElement(g3, length_chrom*2, (length_chrom*3-1));
	initializeGenomicElementType("g4", m4, 1.0);
	initializeGenomicElement(g4, length_chrom*3, (length_chrom*4-1));
	initializeGenomicElementType("g5", m5, 1.0);
	initializeGenomicElement(g5, length_chrom*4, (length_chrom*5-1));
	initializeGenomicElementType("g6", m6, 1.0);
	initializeGenomicElement(g6, length_chrom*5, (length_chrom*6-1));
	initializeGenomicElementType("g7", m7, 1.0);
	initializeGenomicElement(g7, length_chrom*6, (length_chrom*7-1));
	initializeGenomicElementType("g8", m8, 1.0);
	initializeGenomicElement(g8, length_chrom*7, (length_chrom*8-1));
	initializeGenomicElementType("g9", m9, 1.0);
	initializeGenomicElement(g9, length_chrom*8, (length_chrom*9-1));
	initializeGenomicElementType("g10", m10, 1.0);
	initializeGenomicElement(g10, length_chrom*9, (length_chrom*10-1));
		
	initializeSex("A");
	
	
	//Recombination rate parameters
	//recombination between the X and Y is initially the same as on other chromosomes
	female_rates = c(0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01, 0.5, 0.01);
	male_rates = female_rates;  
	ends = c(99, 100, 199, 200, 299, 300, 399, 400, 499, 500, 599, 600, 699, 700, 799, 800, 899, 900, 999);
	
	initializeRecombinationRate(female_rates, ends, sex="F");
	initializeRecombinationRate(male_rates, ends, sex="M");
	
	
	//parameters describing the distribution of phenotypic effects associated with new mutations
	defineConstant("mu", c(0, 0)); //mean of mutational distribution male & female effect sizes
	defineConstant("var_u", (0.25*10^-2)); //variance in mutational effects in both sexes
	defineConstant("cov", 0.9*var_u); //covariance between mutational effects in the sexes
	defineConstant("sigma", matrix(c(var_u,cov,cov,var_u), nrow=2));
	
	// file recording information
	defineConstant("extra", rdunif(1,0,10000000));
	defineConstant("results_path", results_path_base +"/"+extra+"/");
	createDirectory(results_path);
	
	defineConstant("simulation_info", ("male_female_trait_"+extra+"_"));
	
	defineConstant("pheno_file_start", (results_path+"pheno"+"_"+simulation_info));
	defineConstant("allele_file_start", (results_path+"allele"+"_"+simulation_info));
	defineConstant("chrom_file", (results_path+"per_chrom_"+simulation_info+".csv"));


}


1 early(){
	sim.addSubpop("p1", N);
}

1 early(){
	i = p1.individuals;
	i[i.sex == "M"].genome2.addNewMutation(m11, 0.0, 0);
	//adds the male-determining mutation to the paternal genome of all males
}


600001 late() {sim.simulationFinished();}

fitnessEffect() {
	
	muts_auto = c(
		individual.genomes.mutationsOfType(m2),
		individual.genomes.mutationsOfType(m3),
		individual.genomes.mutationsOfType(m4),
		individual.genomes.mutationsOfType(m5),
		individual.genomes.mutationsOfType(m6),
		individual.genomes.mutationsOfType(m7),
		individual.genomes.mutationsOfType(m8),
		individual.genomes.mutationsOfType(m9),
		individual.genomes.mutationsOfType(m10));
	
	muts_proto_sex_chrom = c(individual.genomes.mutationsOfType(m1));
	
	if (individual.sex == "F"){
		
		mut_phenotype_auto = size(muts_auto) ? sum(muts_auto.getValue("e_f")) else 0.0;
		
		mut_phenotype_sex = size(muts_proto_sex_chrom) ? sum(muts_proto_sex_chrom.getValue("e_f")) else 0.0;
		
		phenotype = mut_phenotype_auto + mut_phenotype_sex;
		
		fitness = dnorm(asFloat(phenotype), optimum, female_sd)*sqrt(2*PI)*female_sd;
	
	}
	
	else{//individual is male
		
		mut_phenotype_auto = size(muts_auto) ? sum(muts_auto.getValue("e_m")) else 0.0;
		
		mut_phenotype_sex = size(muts_proto_sex_chrom) ? sum(muts_proto_sex_chrom.getValue("e_m")) else 0.0;
		
		phenotype = mut_phenotype_auto + mut_phenotype_sex;
		
		fitness = dnorm(asFloat(phenotype), optimum, male_sd)*sqrt(2*PI)*male_sd;
	
	}
	
	return fitness;
}





mutation() {
	// draw phenotypic effects of new mutations based on parameters defined in initialize loop
	effects = rmvnorm(1, mu, sigma);
	mut.setValue("e_f", effects[0]);
	mut.setValue("e_m", effects[1]);
	return T;
}


recombination() {
	if (sim.cycle >= 100000){// the time of recombination shutdown between the X and Y 
		if (individual.sex == "M"){
			//assesses which crossover breakpoints are in the shutdown region
			recomb_shutdown_region = (breakpoints <= shutdown_point); 
			if (!any(recomb_shutdown_region)){ //
				return F; //if not, simulation proceeds as normal
			}
			breakpoints = breakpoints[!recomb_shutdown_region];
			//if there are breakpoints in that region, they are removed
			return T;
		}
	}
	return F;
}


modifyChild() { //ensures that males have male determining mutation and females do not
	if (child.sex == "F")
		return !child.genome2.containsMarkerMutation(m11, 0);
	else
		return child.genome2.containsMarkerMutation(m11, 0);
}

// records information on chromosomal values, phenotypes, and alleles
5: late() {
	if ((sim.cycle==10) | (sim.cycle % 500 == 0)) { 
		
		sum_muts_auto_2_value_female = 0;
		sum_muts_auto_3_value_female = 0;
		sum_muts_auto_4_value_female = 0;
		sum_muts_auto_5_value_female = 0;
		sum_muts_auto_6_value_female = 0;
		sum_muts_auto_7_value_female = 0;
		sum_muts_auto_8_value_female = 0;
		sum_muts_auto_9_value_female = 0;
		sum_muts_auto_10_value_female = 0;
		
		sum_muts_auto_2_value_male = 0;
		sum_muts_auto_3_value_male = 0;
		sum_muts_auto_4_value_male = 0;
		sum_muts_auto_5_value_male = 0;
		sum_muts_auto_6_value_male = 0;
		sum_muts_auto_7_value_male = 0;
		sum_muts_auto_8_value_male = 0;
		sum_muts_auto_9_value_male = 0;
		sum_muts_auto_10_value_male = 0;
		
		sum_PAR_X_muts_value_female = 0;
		sum_PAR_X_muts_value_male = 0;
		sum_shutdown_X_muts_value_male = 0;
		sum_shutdown_X_muts_value_female = 0;
		
		sum_PAR_Y_muts_value_female = 0;
		sum_PAR_Y_muts_value_male = 0;
		sum_shutdown_Y_muts_value_male = 0;
		sum_shutdown_Y_muts_value_female = 0;
		
		boundary = shutdown_point;
				
		pheno_file = pheno_file_start+sim.cycle+".csv";
		
		for (i in 0: (length(p1.individuals)-1)){
			
			individual = p1.individuals[i];
						
			muts_auto_2 = individual.genomes.mutationsOfType(m2);
			muts_auto_3 = individual.genomes.mutationsOfType(m3);
			muts_auto_4 = individual.genomes.mutationsOfType(m4);
			muts_auto_5 = individual.genomes.mutationsOfType(m5);
			muts_auto_6 = individual.genomes.mutationsOfType(m6);
			muts_auto_7 = individual.genomes.mutationsOfType(m7);
			muts_auto_8 = individual.genomes.mutationsOfType(m8);
			muts_auto_9 = individual.genomes.mutationsOfType(m9);
			muts_auto_10 = individual.genomes.mutationsOfType(m10);
			
			muts_auto_2_value_female = size(muts_auto_2) ? sum(muts_auto_2.getValue("e_f")) else 0.0;
			muts_auto_3_value_female = size(muts_auto_3) ? sum(muts_auto_3.getValue("e_f")) else 0.0;
			muts_auto_4_value_female = size(muts_auto_4) ? sum(muts_auto_4.getValue("e_f")) else 0.0;
			muts_auto_5_value_female = size(muts_auto_5) ? sum(muts_auto_5.getValue("e_f")) else 0.0;
			muts_auto_6_value_female = size(muts_auto_6) ? sum(muts_auto_6.getValue("e_f")) else 0.0;
			muts_auto_7_value_female = size(muts_auto_7) ? sum(muts_auto_7.getValue("e_f")) else 0.0;
			muts_auto_8_value_female = size(muts_auto_8) ? sum(muts_auto_8.getValue("e_f")) else 0.0;
			muts_auto_9_value_female = size(muts_auto_9) ? sum(muts_auto_9.getValue("e_f")) else 0.0;
			muts_auto_10_value_female = size(muts_auto_10) ? sum(muts_auto_10.getValue("e_f")) else 0.0;
			
			muts_auto_2_value_male = size(muts_auto_2) ? sum(muts_auto_2.getValue("e_m")) else 0.0;
			muts_auto_3_value_male = size(muts_auto_3) ? sum(muts_auto_3.getValue("e_m")) else 0.0;
			muts_auto_4_value_male = size(muts_auto_4) ? sum(muts_auto_4.getValue("e_m")) else 0.0;
			muts_auto_5_value_male = size(muts_auto_5) ? sum(muts_auto_5.getValue("e_m")) else 0.0;
			muts_auto_6_value_male = size(muts_auto_6) ? sum(muts_auto_6.getValue("e_m")) else 0.0;
			muts_auto_7_value_male = size(muts_auto_7) ? sum(muts_auto_7.getValue("e_m")) else 0.0;
			muts_auto_8_value_male = size(muts_auto_8) ? sum(muts_auto_8.getValue("e_m")) else 0.0;
			muts_auto_9_value_male = size(muts_auto_9) ? sum(muts_auto_9.getValue("e_m")) else 0.0;
			muts_auto_10_value_male = size(muts_auto_10) ? sum(muts_auto_10.getValue("e_m")) else 0.0;
			
			sum_muts_auto_2_value_female = sum_muts_auto_2_value_female + muts_auto_2_value_female;
			sum_muts_auto_3_value_female = sum_muts_auto_3_value_female + muts_auto_3_value_female;
			sum_muts_auto_4_value_female = sum_muts_auto_4_value_female + muts_auto_4_value_female;
			sum_muts_auto_5_value_female = sum_muts_auto_5_value_female + muts_auto_5_value_female;
			sum_muts_auto_6_value_female = sum_muts_auto_6_value_female + muts_auto_6_value_female;
			sum_muts_auto_7_value_female = sum_muts_auto_7_value_female + muts_auto_7_value_female;
			sum_muts_auto_8_value_female = sum_muts_auto_8_value_female + muts_auto_8_value_female;
			sum_muts_auto_9_value_female = sum_muts_auto_9_value_female + muts_auto_9_value_female;
			sum_muts_auto_10_value_female = sum_muts_auto_10_value_female + muts_auto_10_value_female;
			
			sum_muts_auto_2_value_male = sum_muts_auto_2_value_male + muts_auto_2_value_male;
			sum_muts_auto_3_value_male = sum_muts_auto_3_value_male + muts_auto_3_value_male;
			sum_muts_auto_4_value_male = sum_muts_auto_4_value_male + muts_auto_4_value_male;
			sum_muts_auto_5_value_male = sum_muts_auto_5_value_male + muts_auto_5_value_male;
			sum_muts_auto_6_value_male = sum_muts_auto_6_value_male + muts_auto_6_value_male;
			sum_muts_auto_7_value_male = sum_muts_auto_7_value_male + muts_auto_7_value_male;
			sum_muts_auto_8_value_male = sum_muts_auto_8_value_male + muts_auto_8_value_male;
			sum_muts_auto_9_value_male = sum_muts_auto_9_value_male + muts_auto_9_value_male;
			sum_muts_auto_10_value_male = sum_muts_auto_10_value_male + muts_auto_10_value_male;
						
			if (individual.sex == "F"){
				
				
				all_X_chrom_muts = individual.genomes.mutationsOfType(m1);
				//females have two X chromosomes, so can take all mutations here
				
				
				shutdown_X_muts = all_X_chrom_muts[all_X_chrom_muts.position <= boundary]; 
				PAR_X_muts = all_X_chrom_muts[all_X_chrom_muts.position > boundary]; 
				
				shutdown_X_muts_value_female = size(shutdown_X_muts) ? sum(shutdown_X_muts.getValue("e_f")) else 0.0;
				PAR_X_muts_value_female = size(PAR_X_muts) ? sum(PAR_X_muts.getValue("e_f")) else 0.0;
				
				shutdown_X_muts_value_male = size(shutdown_X_muts) ? sum(shutdown_X_muts.getValue("e_m")) else 0.0;
				PAR_X_muts_value_male = size(PAR_X_muts) ? sum(PAR_X_muts.getValue("e_m")) else 0.0;
				
				sum_shutdown_X_muts_value_female = sum_shutdown_X_muts_value_female + shutdown_X_muts_value_female;
				sum_PAR_X_muts_value_female = sum_PAR_X_muts_value_female + PAR_X_muts_value_female;
				
				sum_shutdown_X_muts_value_male = sum_shutdown_X_muts_value_male + shutdown_X_muts_value_male;
				sum_PAR_X_muts_value_male = sum_PAR_X_muts_value_male + PAR_X_muts_value_male;
				
				
				output = "F"+","+
					sum_shutdown_X_muts_value_female+","+sum_PAR_X_muts_value_female+","+ 
					sum_shutdown_X_muts_value_male+","+sum_PAR_X_muts_value_male+","+
					"0.0"+","+"0.0"+","+"0.0"+","+"0.0"+","+ 
					muts_auto_2_value_female+","+muts_auto_3_value_female+","+ muts_auto_4_value_female+","+
					muts_auto_5_value_female+","+muts_auto_6_value_female+","+ muts_auto_7_value_female+","+
					muts_auto_8_value_female+","+muts_auto_9_value_female+","+
					+muts_auto_10_value_female;
			
			}
			
			else{//individual is male
				
				all_X_chrom_muts = individual.genome1.mutationsOfType(m1); //X chromosme is maternally inherited
				all_Y_chrom_muts = individual.genome2.mutationsOfType(m1); //Y is paternally inherited
				
								
				shutdown_X_muts = all_X_chrom_muts[all_X_chrom_muts.position <= boundary]; // not in the PAR
				PAR_X_muts = all_X_chrom_muts[all_X_chrom_muts.position > boundary]; // PAR
				
				shutdown_Y_muts = all_Y_chrom_muts[all_Y_chrom_muts.position <= boundary]; // not in the PAR
				PAR_Y_muts = all_Y_chrom_muts[all_Y_chrom_muts.position > boundary]; // PAR
								
				shutdown_X_muts_value_female = size(shutdown_X_muts) ? sum(shutdown_X_muts.getValue("e_f")) else 0.0;
				PAR_X_muts_value_female = size(PAR_X_muts) ? sum(PAR_X_muts.getValue("e_f")) else 0.0;
				
				shutdown_X_muts_value_male = size(shutdown_X_muts) ? sum(shutdown_X_muts.getValue("e_m")) else 0.0;
				PAR_X_muts_value_male = size(PAR_X_muts) ? sum(PAR_X_muts.getValue("e_m")) else 0.0;
				
				sum_shutdown_X_muts_value_female = sum_shutdown_X_muts_value_female + shutdown_X_muts_value_female;
				sum_PAR_X_muts_value_female = sum_PAR_X_muts_value_female + PAR_X_muts_value_female;
				
				sum_shutdown_X_muts_value_male = sum_shutdown_X_muts_value_male + shutdown_X_muts_value_male;
				sum_PAR_X_muts_value_male = sum_PAR_X_muts_value_male + PAR_X_muts_value_male;
								
				shutdown_Y_muts_value_female = size(shutdown_Y_muts) ? sum(shutdown_Y_muts.getValue("e_f")) else 0.0;
				PAR_Y_muts_value_female = size(PAR_Y_muts) ? sum(PAR_Y_muts.getValue("e_f")) else 0.0;
				
				shutdown_Y_muts_value_male = size(shutdown_Y_muts) ? sum(shutdown_Y_muts.getValue("e_m")) else 0.0;
				PAR_Y_muts_value_male = size(PAR_Y_muts) ? sum(PAR_Y_muts.getValue("e_m")) else 0.0;
				
				sum_shutdown_Y_muts_value_female = sum_shutdown_Y_muts_value_female + shutdown_Y_muts_value_female;
				sum_PAR_Y_muts_value_female = sum_PAR_Y_muts_value_female + PAR_Y_muts_value_female;
				
				sum_shutdown_Y_muts_value_male = sum_shutdown_Y_muts_value_male + shutdown_Y_muts_value_male;
				sum_PAR_Y_muts_value_male = sum_PAR_Y_muts_value_male + PAR_Y_muts_value_male;
				
				output = "M"+","+
					sum_shutdown_X_muts_value_female+","+sum_PAR_X_muts_value_female+","+ 
					sum_shutdown_X_muts_value_male+","+sum_PAR_X_muts_value_male+","+
					sum_shutdown_Y_muts_value_female+","+sum_PAR_Y_muts_value_female+","+ 
					sum_shutdown_Y_muts_value_male+","+sum_PAR_Y_muts_value_male+","+
					muts_auto_2_value_male+","+muts_auto_3_value_male+","+ muts_auto_4_value_male+","+
					muts_auto_5_value_male+","+muts_auto_6_value_male+","+ muts_auto_7_value_male+","+
					muts_auto_8_value_male+","+muts_auto_9_value_male+","+
					+muts_auto_10_value_male;
			
			}
			
			if ((sim.cycle==10) | (sim.cycle % 100000 == 0)){
				writeFile(pheno_file, output, append=T);
			} 
			
		}
		
		avg_muts_auto_2_value_male = sum_muts_auto_2_value_male/(2*N);
		avg_muts_auto_3_value_male = sum_muts_auto_3_value_male/(2*N);
		avg_muts_auto_4_value_male = sum_muts_auto_4_value_male/(2*N);
		avg_muts_auto_5_value_male = sum_muts_auto_5_value_male/(2*N);
		avg_muts_auto_6_value_male = sum_muts_auto_6_value_male/(2*N);
		avg_muts_auto_7_value_male = sum_muts_auto_7_value_male/(2*N);
		avg_muts_auto_8_value_male = sum_muts_auto_8_value_male/(2*N);
		avg_muts_auto_9_value_male = sum_muts_auto_9_value_male/(2*N);
		avg_muts_auto_10_value_male = sum_muts_auto_10_value_male/(2*N);
		
		avg_muts_auto_2_value_female = sum_muts_auto_2_value_female/(2*N);
		avg_muts_auto_3_value_female = sum_muts_auto_3_value_female/(2*N);
		avg_muts_auto_4_value_female = sum_muts_auto_4_value_female/(2*N);
		avg_muts_auto_5_value_female = sum_muts_auto_5_value_female/(2*N);
		avg_muts_auto_6_value_female = sum_muts_auto_6_value_female/(2*N);
		avg_muts_auto_7_value_female = sum_muts_auto_7_value_female/(2*N);
		avg_muts_auto_8_value_female = sum_muts_auto_8_value_female/(2*N);
		avg_muts_auto_9_value_female = sum_muts_auto_9_value_female/(2*N);
		avg_muts_auto_10_value_female = sum_muts_auto_10_value_female/(2*N);
		
				
		avg_shutdown_Y_muts_value_female = sum_shutdown_Y_muts_value_female/(0.5*N);
		avg_PAR_Y_muts_value_female = sum_PAR_Y_muts_value_female/(0.5*N);
		
		avg_shutdown_Y_muts_value_male = sum_shutdown_Y_muts_value_male/(0.5*N);
		avg_PAR_Y_muts_value_male = sum_PAR_Y_muts_value_male/(0.5*N);
		
		avg_shutdown_X_muts_value_female = sum_shutdown_X_muts_value_female/(1.5*N);
		avg_PAR_X_muts_value_female = sum_PAR_X_muts_value_female/(1.5*N);
		
		avg_shutdown_X_muts_value_male = sum_shutdown_X_muts_value_male/(1.5*N);
		avg_PAR_X_muts_value_male = sum_PAR_X_muts_value_male/(1.5*N);
		
		
		output_chrom = ""+sim.cycle+
			","+avg_muts_auto_2_value_female+","+avg_muts_auto_2_value_male+
			","+avg_muts_auto_3_value_female+","+avg_muts_auto_3_value_male+
			","+avg_muts_auto_4_value_female+","+avg_muts_auto_4_value_male+
			","+avg_muts_auto_5_value_female+","+avg_muts_auto_5_value_male+
			","+avg_muts_auto_6_value_female+","+avg_muts_auto_6_value_male+
			","+avg_muts_auto_7_value_female+","+avg_muts_auto_7_value_male+
			","+avg_muts_auto_8_value_female+","+avg_muts_auto_8_value_male+
			","+avg_muts_auto_9_value_female+","+avg_muts_auto_9_value_male+
			","+avg_muts_auto_10_value_female+","+avg_muts_auto_10_value_male+
			","+avg_shutdown_X_muts_value_female+","+avg_shutdown_X_muts_value_male+
			","+avg_PAR_X_muts_value_female+","+avg_PAR_X_muts_value_male+
			","+avg_shutdown_Y_muts_value_female+","+avg_shutdown_Y_muts_value_male+
			","+avg_PAR_Y_muts_value_female+","+avg_PAR_Y_muts_value_male;

		writeFile(chrom_file, output_chrom, append=T);
	
	}

}
